body {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}
h1 {
    font-size: 36px;
    color: blue;
}
h2 {
    font-size: 30px;
    color: green;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
a {
    color: red;
    text-decoration: none;
}
p {
    font-weight: 300;
}